name: CD

on:
  push:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: build
        run: |
            chmod +x gradlew
            ./gradlew build -x test

      - name: Copy jar to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "build/libs/*SNAPSHOT.jar"
          target: "/home/ubuntu/app/"

      - name: Restart app on EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            pkill -f 'java -jar' || true

            export LOCAL_DATASOURCE_URL="${{ secrets.LOCAL_DATASOURCE_URL }}"
            export LOCAL_DATASOURCE_USERNAME="${{ secrets.LOCAL_DATASOURCE_USERNAME }}"
            export LOCAL_DATASOURCE_PASSWORD="${{ secrets.LOCAL_DATASOURCE_PASSWORD }}"
            
            JAR_FILE=$(ls /home/ubuntu/app/*SNAPSHOT.jar | grep -v plain | head -n 1)
            nohup java -jar $JAR_FILE > /home/ubuntu/app/app.log 2>&1 &
            exit 0
